<p id="notice"><%= notice %></p>

<p>
  <strong>Trademark:</strong>
  <%= @beer.trademark %>
</p>

<p>
  <strong>Type:</strong>
  <%= @beer.type %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @beer.reviews %>
</p>

<p>
  <strong>Price:</strong>
  <%= @beer.price %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
